@page
@model Firewatch.Abrigos.Pages.Abrigos.EditModel

@{
    ViewData["Title"] = "Editar Abrigo";
}

<h1>Editar Abrigo</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Abrigo.Nome" class="control-label"></label>
                <input asp-for="Abrigo.Nome" class="form-control" />
                <span asp-validation-for="Abrigo.Nome" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Abrigo.Capacidade" class="control-label"></label>
                <input asp-for="Abrigo.Capacidade" class="form-control" />
                <span asp-validation-for="Abrigo.Capacidade" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Abrigo.RecursosDisponiveis" class="control-label"></label>
                <input asp-for="Abrigo.RecursosDisponiveis" class="form-control" />
                <span asp-validation-for="Abrigo.RecursosDisponiveis" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Abrigo.TipoAtendimento" class="control-label"></label>
                <input asp-for="Abrigo.TipoAtendimento" class="form-control" />
                <span asp-validation-for="Abrigo.TipoAtendimento" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Abrigo.Latitude" class="control-label"></label>
                <input asp-for="Abrigo.Latitude" class="form-control" />
                <span asp-validation-for="Abrigo.Latitude" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Abrigo.Longitude" class="control-label"></label>
                <input asp-for="Abrigo.Longitude" class="form-control" />
                <span asp-validation-for="Abrigo.Longitude" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Abrigo.CidadeId" class="control-label"></label>
                <select asp-for="Abrigo.CidadeId" class="form-control" asp-items="ViewBag.CidadeId"></select>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Salvar Alterações" class="btn btn-success" />
                <a asp-page="Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
